html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  /* cursor: none; */
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="none" stroke="black" stroke-width="2"/></svg>'),
    auto; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", monospace;
  background-color: #ffffff;
  color: #010101;
}

#canvas {
  cursor: grab;
}

/* #badges-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 calc(100vw / 4);
}

#sections {
  display: flex;
  flex-direction: column;
}

#sections section {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

a {
  text-decoration: none;
  color: #010101;
}

.u-link {
  border-bottom: 0.2em solid hsl(0, 0%, 0%);
  text-decoration: none;
  color: #010101;
}

.u-link:hover {
  background-color: black;
  color: white;
  border-bottom: 0.2em solid rgba(236, 214, 39, 255);
}

#sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 8);
  position: fixed;
  height: 100vh;
  padding: 2rem;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin-bottom: 1rem;
}

#sidebar ul li a {
  border: none;
  padding: 0.5rem;
}

.active {
  background-color: #010101;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

#canvas {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

#badges-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  margin: 2rem;
}

#go-to-project {
  position: fixed;
  top: 2rem;
  left: 1rem;
}

@media (max-width: 768px) {
  #title {
    display: none;
  }

  #sidebar {
    visibility: hidden;
  }

  #canvas {
    width: 100px;
    height: 100px;
  }

  #badges-container {
    display: none;
  }
}
